#container1 {

    font-size: 30px;
    color: #275317;
    display: block;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: fit-content;

    background-color: #B4E5A2;
    border-radius: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
#container1 h1 {
    font-size: 50px;
}
#container1 td {
    padding: 20px;
}
#container1 img {
    height: 60px;
}

#container1 a {
    text-decoration: none;
    font-weight: bold;
}

#container1 a:link {
    color: #275317;
}
#container1 a:visited {
    color: #275317;
}

#container1 a:active {
    color: #275317;
}

table {
    border-spacing: 20px;
}

td {
    padding: 0px;
}

#container1 a:hover {
    text-decoration: underline;
}

#container1 td img:hover {
    transform: scale(1.5);
    transition: transform 0.2s;
}

td img {
    transition: transform 0.2s;
}

tr {
    margin-top: 100px;
}

.footer img {
    height: 40px;
}