html {
    cursor: url("../img/cursors/default.png") 0 0, auto;
}

a, .cursor-pointer, area[href] {
    cursor: url("../img/cursors/pointer.png") 3 0, pointer;
}

p, h1, h2, h3, h4, h5, h6, li {
  cursor: url("../img/cursors/text.png") 16 16, text;
}



/* 
html { cursor: url("../img/cursors/default.png") 0 0, auto; }

*, *::before, *::after { cursor: inherit; }

a, area[href], button, .navbar-link {
  cursor: url("../img/cursors/pointer.png") 3 0, pointer;
}

input, textarea {
  cursor: url("../img/cursors/text.png") 16 24, text;
}

p, h1, h2, h3, h4, h5, h6, li {
  cursor: url("../img/cursors/text.png") 16 24, text;
}


 */