body {

    font-family: consolas, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D9F2D0;


}








.navbar {
    box-shadow: rgba(59, 125, 35, 0.4) 0px 5px, rgba(59, 125, 35, 0.3) 0px 10px, rgba(59, 125, 35, 0.2) 0px 15px, rgba(59, 125, 35, 0.1) 0px 20px, rgba(59, 125, 35, 0.05) 0px 25px;

    position: sticky;
    top: 0;
    background-color: #275317;
    overflow: hidden;
    z-index: 1000;
    margin-bottom: 20px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbar-links {
    display: flex;
    gap: 15px;
}

.navbar-link {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar-link:hover {
    background-color: #45a049;
}