#about {
    width: 1000px;
    margin: auto;
}

img {
    display:flex;
    margin: auto;
    width: 400px;
    height: 500px;
    object-fit: cover;
    object-position:0px -300px;
    border-radius: 10px;
    border: solid black 5px;
    margin-bottom: 20px;
}